<% @story_map.map do |story, comments| %>
  <div class="mb-5">
    <%= render partial: "stories/story", locals: { story: story } %>

    <% if story.body != nil %>
      <p class="content"><%= story.body.html_safe %></p>
    <% end %>
  </div>

  <%= render partial: "comments/comment", locals: { comments: comments } %>
<% end %>
